doctype html
html(lang="en")
  head
    title= PeerCast
    meta(charset="utf-8")
    script(type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js")
  body
    h1 Cast test
    script.

      var castSession;
      var currentMedia;

      var initializeCastApi = function() {
        var sessionRequest = new chrome.cast.SessionRequest(chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID);
        var apiConfig = new chrome.cast.ApiConfig(sessionRequest,
          sessionListener,
          receiverListener);
        chrome.cast.initialize(apiConfig, onInitSuccess, onError);
      };

      window['__onGCastApiAvailable'] = function(loaded, errorInfo) {
        if (loaded) {
          initializeCastApi();
        } else {
          console.log(errorInfo);
        }
      }

      function receiverListener(e) {
        if( e === chrome.cast.ReceiverAvailability.AVAILABLE) {
          chrome.cast.requestSession(onRequestSessionSuccess, onLaunchError);
        }
      }

      function onInitSuccess() {
        console.log('init success');
      }
      function onRequestSessionSuccess(e) {
        castSession = e;
        var mediaInfo = new chrome.cast.media.MediaInfo('http://commondatastorage.googleapis.com/gtv-videos-bucket/big_buck_bunny_1080p.mp4');
        mediaInfo.contentType = 'video/mp4';
        mediaInfo.metadata = new chrome.cast.media.GenericMediaMetadata();
        mediaInfo.streamType = chrome.cast.media.StreamType.BUFFERED;

        var request = new chrome.cast.media.LoadRequest(mediaInfo);
        castSession.loadMedia(request,
           onMediaDiscovered.bind(this, 'loadMedia'),
           onMediaError);

      }

      function sessionListener() {
        console.log('session listener:', arguments);
      }

      function onMediaDiscovered(how, media) {
         currentMedia = media;
         media.addUpdateListener(onMediaStatusUpdate);
      }
      function onMediaStatusUpdate() {
        console.log('Media status update', arguments);
      }



      function onError(e) {
        console.error('Error initialize:', e.message);
      }

      function onLaunchError(e) {
        console.error('Launch error:', e.message);
      }
      function onMediaError(e) {
        console.error("Media error:", e)
      }
